@model REGISTRATION.Models.User

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome, @Model.registered_user_name!</h1>
    <p>Email: @Model.registered_user_mail</p>
</body>
</html>
